# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np
import random

In [4]:
countryCategoryArray = ["台灣", "美國", "日本", "韓國", "泰國"]
countrysArray = []
populationsArray = []

for i in range(10):
    populationsArray.append(random.randint(10000,1e5))
    countrysArray.append(random.sample(countryCategoryArray,1)[0])
data = {'國家': countrysArray,
        '人口': populationsArray}
    
df = pd.DataFrame(data)
df

   國家     人口
0  韓國  63985
1  泰國  53457
2  台灣  91431
3  台灣  40858
4  台灣  47916
5  美國  62141
6  泰國  43002
7  韓國  11134
8  美國  44450
9  泰國  76694

In [8]:
df.loc[df["人口"] == df["人口"].max(), :]

   國家     人口
2  台灣  91431

In [14]:
df.groupby(by="國家", as_index=False)["人口"].mean()

   國家            人口
0  台灣  60068.333333
1  泰國  57717.666667
2  美國  53295.500000
3  韓國  37559.500000